body { 
    background-color: #f3f4f6; 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    font-family: 'Inter', sans-serif; 
    zoom: 1.0; 
}
        
.container-flex {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.bg-header-gradient { background: linear-gradient(90deg, #1e40af 0%, #3b82f6 100%); }
main { flex: 1; }
.card { background: white; border-radius: 12px; box-shadow: 0 2px 10px rgba(0,0,0,0.05); border: 1px solid #eef2f6; display: flex; flex-direction: column; width: 100%; }
.hidden-view { display: none !important; }
        
.btn-nav { cursor: pointer; border-radius: 10px; padding: 10px 20px; font-weight: 700; font-size: 14px; display: flex; align-items: center; gap: 8px; transition: all 0.2s; position: relative; }
.btn-inactive { background-color: #e2e8f0; color: #334155; }
.btn-active { background: linear-gradient(135deg, #2563eb 0%, #1e40af 100%); color: white; box-shadow: 0 4px 12px rgba(37, 99, 235, 0.2); }
        
.badge-red { background-color: #ef4444; color: white; font-size: 10px; font-weight: bold; width: 18px; height: 18px; border-radius: 50%; display: flex; align-items: center; justify-content: center; border: 2px solid white; position: absolute; top: -5px; right: -5px; }

.stat-icon { width: 48px; height: 48px; border-radius: 12px; display: flex; align-items: center; justify-content: center; color: white; font-size: 1.25rem; }
.chart-title { color: #2563eb; font-size: 11px; font-weight: 800; letter-spacing: 0.05em; margin-bottom: 10px; text-transform: uppercase; }
.chart-container-centered { flex: 1; display: flex; align-items: center; justify-content: center; width: 100%; min-height: 250px; position: relative; }
.bar-canvas-wrapper { width: 95%; height: 90%; }

.profile-upload-box { width: 120px; height: 120px; border: 2px dashed #cbd5e1; border-radius: 12px; display: flex; flex-direction: column; align-items: center; justify-content: center; overflow: hidden; background: #f8fafc; position: relative; }
.pic-changeable { cursor: pointer; border-color: #3b82f6 !important; }
#pic-preview { width: 100%; height: 100%; object-fit: cover; }
        
.status-dot { width: 8px; height: 8px; border-radius: 50%; display: inline-block; margin-right: 4px; }
.response-box { border-left: 4px solid #3b82f6; background-color: #f8fafc; }
#modal-overlay { background-color: rgba(0, 0, 0, 0.5); z-index: 50; }
.locked-select { background-color: #f1f5f9; cursor: not-allowed; pointer-events: none; }


footer {
    margin-top: auto; /* Itutulak ang footer pababa */
}

/* Hover effects para sa Social Media Icons */
.fa-brands {
    transition: transform 0.2s ease-in-out;
}

.fa-brands:hover {
    transform: scale(1.1);
}